aniso8601==7.0.0
click==7.0
Flask==1.1.1
Flask-HTTPAuth==3.3.0
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
python-dateutil==2.8.0
pytz==2019.1
six==1.10.0
SQLAlchemy==1.0.14
Werkzeug==0.11.10
